<!DOCTYPE html>

<html>

<head>
    <title>About</title>
  <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather app, Which shows the weather of any location. it is done with the help of Geocode API and weathercast API. Geocode will give latitude and longitude information of that particular place. And we will give the output data from geocode to weather stack as input</p>
    </div>
    
    {{>footer}}
</body>

</html>