<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
   <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>Give the location where you want to get weather data. give accurate place name like : Banglore, India</p>
    </div>
    
    {{>footer}}
</body>

</html>