<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/static/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form >
            <input type="text" placeholder="location">
            <button>search</button>
        </form>
        <p id="message_One"></p>
        <p id="message_Two"></p>
        <p ><img id="message_Three" src="" alt=""></p>
    </div>

    {{>footer}}
    <script src="../../static/js.js"></script>
</body>

</html>